:root{
    --header-height: 100px;
    --footer-height: 100px;
    --side-bar-width: 200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-center{
    text-align: center;
}

li{
    list-style: none;
}

.top-content{
    height: calc(100vh - var(--footer-height));
}

.main-content{
    width: calc(100% - var(--side-bar-width));
    height: 100%;
    position: relative;
}

header{
    height: var(--header-height);
    width: 100%;
    position: absolute;
    background-color: #080b12;
    opacity: 0.8;
}

header > div{
    line-height: var(--header-height);
    text-align: end;
    vertical-align: middle;
}

.btn.upgrade{
    background-color: inherit;
    color: white;
    border-color: white;
    border-radius: 30px;
    padding: 10px 20px;
}

main{
    height: 100%;
    padding-top: var(--header-height);
    overflow: auto;
}

.playlist{
    padding: 0 5px;
}

.playlist > img{
    width: 100%;
}

.artist > img{
    border-radius: 50%;
}

.side-bar{
    width: var(--side-bar-width);
    height: 100%;
    background-color: #141922;
    color: #6f6f6f;
}

.side-container{
    width: 170px;
    margin: 0 auto;
}

.logo{
    line-height: var(--header-height);
}

.main-nav{
    margin: 0 -5px;
}

.main-nav img{
    height: 25px;
    vertical-align: middle;
    margin: 5px;
    opacity: 0.5;
}

.fa-solid.fa-plus{
    padding: 10px;
    margin-right: 5px;
    color: #080b12;
    background-color: #6f6f6f;
    vertical-align: middle;
}

.account{
    margin-top: auto;
    height: 70px;
}

footer{
    height: var(--footer-height);
}
